.img1{
opacity: 0.9;
}

.img2{
  opacity: 0.7;
}

.img3{
  opacity: 0.3;
}

.img1-hover:hover{
  opacity: 0.200;
}

.img2-hover:hover{
  opacity: 0.500;
}

.img3-hover:hover{
  opacity:0.800;
}

button{
  padding: 20px;
  border: none;
  background-color: aquamarine;
  font-weight: 500;
  cursor: pointer;
}

button:hover{
  opacity: 0.5;
}