*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.caixa {
  width: 300px; /* Largura da caixa */
  height: 100px; /* Altura da caixa */
  background-color: lightblue; /* Cor de fundo */
  color: rgb(22, 6, 65); /* Cor do texto */
  
  /* Usando margin (espaço fora da caixa) */
  margin: 20px; /* Margem de 20px em todos os lados */

  /* Usando padding (espaço dentro da caixa) */
  padding: 15px; /* Padding de 15px em todos os lados */
  
  text-align: center; /* Alinhando o texto no centro */
  line-height: 70px; /* Centralizando o texto verticalmente */
}

h1{
  border: 1px solid tomato;
  margin-top: 150px;
  margin-left: 150px ;
  padding: 50px;
}

p{
  border: 1px solid tomato;
  margin: 10px;
  padding: 20px;
}